<div id="<%= dom_id frame %>">
  <p>
    <strong>Name:</strong>
    <%= frame.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= frame.style %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= frame.url %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= frame.size %>
  </p>

  <p>
    <strong>Retail:</strong>
    <%= frame.retail %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= frame.paid %>
  </p>

</div>
